<header class="page-navbar">
  <a href={{ "/" | relative_url }}>Other Games</a>
  {% assign segments = page.dir | split: '/' %}
  {% if segments[1] == 'dragon-wars' %}
  &mdash; <b>Dragon Wars</b>
  &mdash; <a href={{ "/dragon-wars/" | relative_url }}>Guide</a>
  &mdash; <a href={{ "/dragon-wars/things-and-stuff.html" | relative_url}}>Items</a>
  &mdash; <a href={{ "/dragon-wars/magic.html" | relative_url }}>Magic</a>
  &mdash; <a href={{ "/dragon-wars/walkthrough.html" | relative_url }}>Walkthrough</a>
  &mdash; <a href={{ "/dragon-wars/maps/" | relative_url }}>Maps</a>
  {% elsif segments[1] == 'deathlord' %}
  &mdash; <b>Deathlord</b>
  &mdash; <a href={{ "/deathlord/" | relative_url }}>Guide</a>
  &mdash; <a href={{ "/deathlord/equipment.html" | relative_url }}>Items</a>
  &mdash; <a href={{ "/deathlord/magic.html" | relative_url }}>Magic</a>
  &mdash; <a href={{ "/deathlord/bestiary.html" | relative_url }}>Bestiary</a>
  &mdash; <a href={{ "/deathlord/walkthrough-1.html" | relative_url }}>Part I</a>
  &mdash; <a href={{ "/deathlord/walkthrough-2.html" | relative_url }}>Part II</a>
  &mdash; <a href={{ "/deathlord/walkthrough-3.html" | relative_url }}>Part III</a>
  {% elsif segments[1] == 'bards-tale-1' %}
  &mdash; <b>Bard's Tale 1</b>
  {% endif %}
</header>

