<header class="page-navbar">
  <a href="/">Other Games</a>
  {% assign segments = page.filePathStem | split: '/' %}
  {% if segments[1] == 'dragon-wars' %}
  &mdash; <b>Dragon Wars</b>
  &mdash; <a href="/dragon-wars/">Guide</a>
  &mdash; <a href="/dragon-wars/things-and-stuff.html">Items</a>
  &mdash; <a href="/dragon-wars/magic.html">Magic</a>
  &mdash; <a href="/dragon-wars/walkthrough.html">Walkthrough</a>
  &mdash; <a href="/dragon-wars/maps/">Maps</a>
  {% elsif segments[1] == 'deathlord' %}
  &mdash; <b>Deathlord</b>
  &mdash; <a href="/deathlord/">Guide</a>
  &mdash; <a href="/deathlord/equipment.html">Items</a>
  &mdash; <a href="/deathlord/magic.html">Magic</a>
  &mdash; <a href="/deathlord/bestiary.html">Bestiary</a>
  &mdash; <a href="/deathlord/walkthrough-1.html">Part I</a>
  &mdash; <a href="/deathlord/walkthrough-2.html">Part II</a>
  &mdash; <a href="/deathlord/walkthrough-3.html">Part III</a>
  {% elsif segments[1] == 'wasteland' %}
  &mdash; <b>Wasteland</b>
  {% elsif segments[1] == 'phantasie-1' %}
  &mdash; <b>Phantasie I</b>
  {% elsif segments[1] == 'bards-tale-1' %}
  &mdash; <b>Bard's Tale I</b>
  &mdash; <a href="/bards-tale-1/">Guide</a>
  &mdash; <a href="/bards-tale-1/maps.html">Maps</a>
  &mdash; <a href="/bards-tale-1/equipment.html">Items</a>
  &mdash; <a href="/bards-tale-1/magic.html">Magic</a>
  &mdash; <a href="/bards-tale-1/bestiary.html">Bestiary</a>
  {% endif %}
</header>

