---
---

$table-border-color: #ccc;

@import "{{ site.theme }}";
@import "toc";

$float-margin: 20px;

div.float-left {
  float: left;
  margin-right: $float-margin;
}

div.float-right {
  float: right;
  margin-left: $float-margin;
}

td.c {
  text-align: center;
}

td.r {
  text-align: right;
}

th, td.b {
  border-bottom-width: 4px !important;
}

.page-navbar {
  font-size: 125%;
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  padding: 1em;

  a {
    color: white;
  }
}
