table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  border-spacing: 0;
}

table caption {
  font-size: 75%;
}

.small-font > table, table.small {
  font-size: 75%;
  td {
    padding: 0.1rem 0.25rem;
  }
}

td, th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
}

td.c { text-align: center; }
td.r { text-align: right; }

th, td.b {
  border-bottom-width: 4px !important;
}

tr.thick > td {
  border-bottom-width: 4px !important;
}

th.nb, td.nb {
  width: 1.5em;
  padding-left: 0px;
  padding-right: 0px;
}
